extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3
    .row 
      .col-12 
        +box-head(pageTitle)
    .row
      for song in songs
        .col-3.mb-3 
          .song-item 
            .inner-image
              a(href='/songs/detail/:slugSong')
                img(src=song.avatar alt=song.slug)
            .inner-content
              .inner-title
                a(href=`/songs/detail/${song.slug}`) #{song.title}
              .inner-singer <i class="fa-solid fa-microphone-lines"></i> #{song.infoSinger.fullName}
              .inner-like <i class="fa-solid fa-thumbs-up"></i> #{song.like}
              .inner-time 
                i(class="fa-regular fa-clock")
                span #{song.updatedAt}